[Unit]
Description=Rust REST API for managing dnsmasq name entries
Before=nginx.target
After=network.target

[Service]
Type=forking
PIDFile=/run/dnsmasq-dynconf.pid
ExecStart=/usr/sbin/dnsmasq-dynconf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target